.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    background-color: #7f7d7d; 
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 10%;
    font-size: 24px; 
    color: #333; 
    text-align: center; 
    position: relative;
  }
  

  
  .image-container { 
    max-width: 100%;
    width: 500px;
    height: 250px;
    height: auto;
    background-color: #333;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;

  }

  .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
  }
  