.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 150px;
  font-size: 1.2rem;
  padding-right: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.navigation-link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
}

.navigation-menu {
  margin: 0;
  position: fixed;
  top: 150px;
  right: -100%;
  width: 100%;
  height: calc(100% - 80px);
  background-color: #454545f2;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.navigation-menu.open {
  right: 0;
}

.navigation-item {
  border-bottom: 1px solid #c50f0f;
}

.navigation-item:last-of-type {
  border-bottom: none;
}

.menu-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 999;
}

.menu-burger-line {
  width: 100%;
  height: 0.25rem;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.menu-burger.open .menu-burger-line:nth-child(1) {
  transform: rotate(45deg) translate(0.4rem, 0.4rem);
}

.menu-burger.open .menu-burger-line:nth-child(2) {
  opacity: 0;
}

.menu-burger.open .menu-burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(0.4rem, -0.4rem);
}