
@media screen and (max-width: 768px) {
  #category h2 {
    font-size: 28px;
  }
  
  .cardsContainer > div {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  #category h2 {
    font-size: 24px;
  }
  
  .cardsContainer > div {
    width: 100%;
  }
}







.news-article {
    padding: 20px;
    box-sizing: border-box;
  }
  
  #category {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #category h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
  }
  
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .cardsContainer > div {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #7b7878;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .cardsImages {
    max-width: 100%;
    height: auto;
  }
  
  